---
layout: page
title: Glossar
---

{% assign items = site.glossary | sort: 'title' %}

{% for item in items %}
<div class="glossary-item">
  <details id="{{ item.title | downcase | url_encode }}">
    <summary >
      <h3>{{ item.title }}</h3>

    {%   if item.icon %}
    <h4 id="type-{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.icon }}.html %}</h4>

    {{     item.content }}
    {%   elsif item.type %}
    <h4 id="type-{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.type | downcase }}.html %}</h4>
    </summary>

    {{     item.content }}
    {%   else %}
    {{     item.content }}
    {%   endif %}
  </details>
</div>

  <script type="text/javascript" language="javascript">
    function openGlossaryItem() {
      current_item = document.getElementById(location.hash.substr(1));
      if (current_item != null) {
        current_item.setAttribute('open', 'open');
      }
    }
    window.onhashchange = openGlossaryItem;
    openGlossaryItem()
  </script>
{% endfor %}
